<!-- Bubble clude -->
<div id="bubContainer" class="container">
    <div id="bubRow" class="row">
        <div id="bubCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="bub-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

                <div id="bubInnerContainer" class="container">
                    <h3 id="bubChartHead">The Military Expenditure(% of GDP) for 10 countries </h3>
                    <h4>  In 2016</h4>
                    <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->


                </div>

                <div id="BubbleChart1Div"></div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-bub1" class="hidden-bub1">
                <p id="planet-info-bub1">Planet Info</p>
            </div>
        </div>

        <div>
            <div id="bubCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="bubCard" class="card">
                    <div id="bubCardBody" class="card-body">
                        <h4 id="card-name-bub1" class="card-title">
                            Description 
                        </h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-bub1" class="card-text">
                            U.S.A and Iran spent about 3% of GDP in military.
                            India spent about 2.5 of GDP. 
                            Canada and Japand have about 1 % of GDP on military.
                            Australia and France have about 2 % of GDP.

                        </p>



                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>