<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div class="und-col">
                <!-- <svg id="graph"> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="600" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="600" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"></foreignObject> -->

                <!-- <div class="container"> -->
                <!-- <h3 id="barChartHead">The 10 Countries Military Expenditure</h3>
                            <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->

                <p>Filter
                    <!-- <button class="btn btn-default" id="res">Reset</button> -->
                    <button class="btn btn-default" id="all">10 countries</button>
                    <button class="btn btn-default" id="top">Top 5 countries</button>
                    <button class="btn btn-default" id="bot">Bottom 5 countries</button>
                    <button class="btn btn-default" id="res">Reset</button>

                </p>
                <p>Sort by
                    <button class="btn btn-default" id="alpha">alphabetical order</button>
                    <button class="btn btn-default" id="ascend">ascending order</button>
                    <button class="btn btn-default" id="descen">descending order</button>

                </p>
                <!-- </div> -->
                <!-- </foreignObject> -->
                <div class="container">
                    <h3 id="barChartHead">The 10 Countries Military Expenditure</h3>
                    <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5>
                    <div id="chartlinemilgdp"></div>
                </div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
            </div>
            <!-- <div id="tooltip" class="hidden">
                <p id="planet-info">Planet Info</p>
            </div> -->
        </div>

        <div>
            <div class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div class="card">
                    <div class="card-body">
                        <h4 id="card-name" class="card-title">Description</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6>
                        <!-- <p id="card-desc" class="card-text">Mouse over bars for quick facts. -->
                        <!-- <br />
                            <br />
                            <br /> -->

                        U.S.A spent about 3.5% of its GDP on its military.
                        On the other hand, Japan only spent about 1% of GDP. Iran is
                        Second ranked. Except for the U.S.A, France is first ranked among western countries.
                        Top 5 countries are U.S.A, Iran, India, France, and Australia.
                        Bottom 5 countries are Canada, China, Germany, Italy, Japan.
                        <!-- </p> -->
                        <!-- <a href="#" class="card-link">Card link</a> -->
                        <!-- <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>