<div id="lineContainer" class="container">
    <div id="lineRow" class="row">
        <div id="lineCol-sm-8" class="col-sm-8">
            <!-- <div class="und-col "style="min-height: 600px !important;"> -->
            <div id="line-und-col" class="und-col">
                <!-- <svg id="pieChart1" width=500 height=500> -->
                <!-- <foreignObject width="400" height="100" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->
                <!-- <foreignObject width="1300" height="1000" vrequiredExtensions="http://example.com/SVGExtensions/EmbeddedXHTML"> -->

                <div id="lineInnerContainer" class="container">
                    <h3 id="LineChartHead">The 10 Countries in Military Expenditure(% of GDP) </h3>
                    <h4>  from 2007 to 2016</h4>
                    <!-- <h5 id="barChartHiHead">In 2016-Alphabetical Order</h5> -->



                </div>

                <div id="LineChart1Div"></div>

                <!-- </foreignObject> -->
                <!-- </svg> -->
                <!-- <svg id="pieChart1" width="1300" height="600"></svg> -->

            </div>
            <div id="tooltip-line1" class="hidden-line1">
                <p id="planet-info-line1">Planet Info</p>
            </div>
        </div>

        <div>
            <div id="lineCol-sm-4" class="col-sm-4">
                <!-- <div class="card" style="width: 18rem;"> -->
                <div id="lineCard" class="card">
                    <div id="lineCardBody" class="card-body">
                        <h4 id="card-name-line1" class="card-title">Description</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Military Expenditure In 2016</h6> -->
                        <p id="card-desc-line1" class="card-text">
                            U.S.A had increase the percentage of GDP in military expenditure from 2007 to 2010.
                            After 2010, the value had started to decrease.
                            The line has fluctuated from 2007 to 2013 in Iran. However after 2013, the value has increased. 
                            In the case of Japan, the value has not fluctuated from 207 to 2016.
                            China shows similar pattern to Japan. 
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>